<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Capstone Project</title>
        <meta
        content="width=device-width, initial-scale=1, maximum-scale=1"
        name="viewport"/>
    </head>
    <body>
        <div class = "container">
            <div id = "one" class = "box">
                <section>
                    <h1>AMERICA the BEAUTIFUL TRAVEL PLANNER</h1>
                </section>
            </div>

            <div id = "two" class = "box">
                <div class ="holder entry">
                    <div class = "title">Forecast Weather</div>
                    <div id = "entryHolder">
                        <div id = "city_name"></div>
                        <div id ="state_code"></div>
                        
                        Date:<div id = "valid_date"></div>
                        Weather:<div id = "weather"></div> 
                        Temp: <div id = "high_temp"></div>
                        Wind: <div id = "wind_spd"></div>
                    </div>
                  </div>
                </div>
            <div id = "three" class = "box">

            </div>
            <div id = "four" class = "box">
                <section>
                    <div class ="holder city">
                        <label for="city">Enter Destination City: </label>
                        <input type="text" id="city" placeholder="Enter city here">
                    </div>
                    <div class ="holder state">
                        <label for="state">Enter Destination State: </label>
                        <input type="text" id="state" placeholder="Enter state here">
                    </div>
                    <div class ="departDate">
                        <label for="date">Enter Depart Date: </label>
                        <input type="date" id= "departDate" >
                    </div>
                    <div class ="returnDate">
                        <label for="date">Enter Return Date: </label>
                        <input type="date" id= "returnDate" >
                    </div>
                    <button id="submit" type = "submit"> Submit </button>
                </section>
            </div>
            <div id = "five" class = "box"></div>
        </div>
        <footer>
            <p>This is a footer</p>
        </footer>
    </body>
</html>