<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Capstone Project</title>
        <meta
        content="width=device-width, initial-scale=1, maximum-scale=1"
        name="viewport"/>
    </head>
    <body>
        <div class = "container">
            <div id = "one" class = "box">
                <h4>AMERICA the BEAUTIFUL TRAVEL PLANNER</h4>
            </div>
            <div id = "two" class = "box">
                <section>
                    <span>Your stay in  </span><span id = "city_name"></span>, <span id ="state_code"></span>
                    <span>has been confirmed for </span><span id = "depart_date"></span><br>
                    <span>You are scheduled to return on </span><span id = "return_date"></span>
                </section>
            </div>
            <div id = "three" class = "box">
                <section>
                    <br>
                    Forecast...
                    <br>
                    Depart date: <span id = "valid_date"></span>
                    <br>
                    Weather: <span id = "weather"></span>
                    <br>
                    Temp: <span id = "high_temp"></span> F
                    <br>
                    Wind: <span id = "wind_spd"></span>
                    <br><br>
                    On this day last year...
                    <br>
                    Weather Date: <span id = "date"></span>
                    <br>
                    High Temp: <span id = "hi_temp"></span> F
                    <br>
                    Low Temp: <span id = "lo_temp"></span> F
                    <br>
                    Max Wind: <span id = "max_wind_spd"></span>
                    <br>
                    Snow: <span id = "snow_fall"></span>
                </section>    
            </div>
            <div id = "four" class = "box">
                <article>
                    <img src=""
                    id = "image"
                    sizes="(min-width: .5em) and (max-width: .8em)"
                    >
                </article>
            </div>
            <div id = "five" class = "box">
                <section>
                    <div class ="holder city">
                        <label for="city">Enter Destination City: </label>
                        <span>
                            <select name="destination" id="city">
                                <option value="city">--Please choose a destination--</option>
                                <option value ="Boston,MA">Boston, MA</option>
                                <option value ="Dallas,TX">Dallas, TX</option>
                                <option value ="Miami,FL">Miami, FL</option>
                                <option value ="Philadelphia,PA">Philadelphia, PA</option>
                                <option value ="Nashville,TN">Nashville, TN</option>
                                <option value ="Sacramento,CA">Sacramento, CA</option>
                            </select>
                        </span>
                    </div>
                    <div class ="departDate">
                        <label for="date">Enter Depart Date: </label>
                        <input type="date" id= "departDate" >
                    </div>
                    <div class ="returnDate">
                        <label for="date">Enter Return Date: </label>
                        <input type="date" id= "returnDate" >
                    </div>
                    <button id="submit" type = "submit"> Submit </button>
                </section>
            </div>
            <div id = "six" class = "box"></div>
            </div>
        </div>
        <footer>
            <section></section>
        </footer>
        <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
        </script>
    </body>
</html>