<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Capstone Project</title>
        <meta
        content="width=device-width, initial-scale=1, maximum-scale=1"
        name="viewport"
      />
    </head>

    <body>
        <header>
            <div class="">Logo</div>
            <div class="">navigation</div>
        </header>
        <main>
            <div class = "container">
                <div id = "one" class = "box">
                    <section>
                        <p>TRAVEL PLANNER</p>
                        </section>
                </div>
                <div id="two" class = "box">
                    <section>

                    </section>
                </div>
                <div id = "three" class = "box">
                    <section>

                    </section>
                </div> 
                <div id = "four" class = "box">
                    <section>
                        <form class="">
                            <label for="location">My Trip Destination: </label>
                            <input
                             type="text"
                             id="location"
                             placeholder="Enter Destination Location"
                             />
                             <label for="date">Enter Trip Date: </label>
                             <input
                             type = "date"
                             id = "date"
                             /> 
                             <button type="submit"
                             onclick="Client.readLocation(event);Client.readDate(event)">
                             Submit
                            </button>
                        </form>
                    </section>
                </div>
                <div id = "five" class = "box">
                    <section>

                    </section>
                </div> 
            </div>
        </main>
        <footer>
            <p>This is a footer</p>
        </footer>
    </body>
</html>
