.box{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
#one{
  grid-area: top;
  height: 100px;
  font-size: xx-large;
  background-color: rgb(235, 235, 150);

}
#two{
  grid-area: bottom;
  background-color: rgb(235, 235, 150);

  
}