.box {
    display: grid;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 15px;;
}
h1 {
  color: blueviolet;

.image {
    border: 10px ridge #f00;
    background-color: #ff0;
    padding: .5rem;
    display: flex;
    flex-direction: column;
}

.image img {
    width: 100%;
}

.image p {
    font: small-caps bold 1.2rem sans-serif;
    text-align: center;
}
}
#one {
  grid-area: tp;
  height: 75px;
  font-size: xx-large;
  background-color: rgb(235, 235, 150);
  border: double;
  border-color: chocolate;

}
#two {
  grid-area: sm;
  height: 100px;
  font-size: large;
  font-family: sans-serif;
  background-color: rgb(235, 235, 150);
  border: double;
  border-color: chocolate;
  margin-top: 10px;
  margin-bottom: 10px;
}

#three {
  grid-area: ml;
  height: 350px;
  font-size: large;
  font-family: sans-serif;
  justify-content: left;
  font-size: medium;
  background-color: rgb(235, 235, 150);
  border: double;
  border-color: chocolate;
  margin-top: 10px;
  margin-bottom: 10px;
}
#four {
  grid-area: mr;
  height: 350px;
  background-color: rgb(172, 236, 230);

  border: double;
  border-color: chocolate;
  margin-top: 10px;
  margin-bottom: 10px;
  article img {
    display: block;
    max-width: 100%;
   
    border: 1px solid #888;
    box-shadow: 0 0.5em 0.3em #888;
    margin-bottom: 1.25em;
  }
}
#five {
  grid-area: bt;
  height: 200px;
  background-color: rgb(235, 235, 150);
  border: double;
  border-color: chocolate;
  margin-top: 10px;
  margin-bottom: 10px;
}

#six {
  grid-area: bs;
}