.box {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
}
h1 {
  color: chocolate;
}
#one {
  grid-area: tp;
  height: 100px;
  font-size: xx-large;
  background-color: rgb(235, 235, 150);
}
#two {
  grid-area: ml;
  background-color: rgb(235, 235, 150);
}
#three {
  grid-area: mr;
  background-color: rgb(235, 235, 150);
}
#four {
  grid-area: bt;
  height: 200px;
  background-color: rgb(235, 235, 150);
  border-color: chocolate;
}
#five {
  grid-area: bs;
}