.container {
    display: grid;
    width: auto;
    height: 800px;

    margin: auto;
    grid-auto-rows:minmax(35px, 150px);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 20px;
    grid-template-areas:
    "top"
    "middle-right" "middle-left"
    "bottom";
    border: 10px solid rgb(247, 182, 96);
    justify-content: center;
}