.container {
    display: grid;
  
    grid-template-columns: repeat(7, 1fr);
    grid-template-areas:
    "tp tp tp tp tp tp tp"
    "sm sm sm sm sm sm sm"
    "ml ml ml mr mr mr mr"
    "bt bt bt bt bt bt bt"
    "bs bs bs bs bs bs bs";

    grid-gap: 10px;
    border: 10px solid rgb(247, 182, 96);

}
section {
    max-width: 900px;
    margin: 50px auto;
}