form {
    background-color: rgb(235, 235, 150);
    border: 2px solid rgb(74, 51, 202);
    border-radius: 3px;
    padding: 40px;
}

input {
    padding: 5px 20px;
    width: 100%;
    line-height: 16px;
    margin: 10px 0;
}